################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio build files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.lua